.navbar-main-theme {
  background-color: #efc94c;
  border-color: #efc94c;
}
.navbar-main-theme .navbar-brand {
  color: #777777;
}
.navbar-main-theme .navbar-brand:hover,
.navbar-main-theme .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-main-theme .navbar-text {
  color: #273b47;
}
.navbar-main-theme .navbar-nav > li > a {
  color: #273b47;
}
.navbar-main-theme .navbar-nav > li > a:hover,
.navbar-main-theme .navbar-nav > li > a:focus {
  background-color: transparent;
  text-decoration: underline;
}
.navbar-main-theme .navbar-nav > .active > a,
.navbar-main-theme .navbar-nav > .active > a:hover,
.navbar-main-theme .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.navbar-main-theme .navbar-nav > .disabled > a,
.navbar-main-theme .navbar-nav > .disabled > a:hover,
.navbar-main-theme .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-main-theme .navbar-toggle {
  border-color: #dddddd;
}
.navbar-main-theme .navbar-toggle:hover,
.navbar-main-theme .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-main-theme .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-main-theme .navbar-collapse,
.navbar-main-theme .navbar-form {
  border-color: #e7e7e7;
}
.navbar-main-theme .navbar-nav > .open > a,
.navbar-main-theme .navbar-nav > .open > a:hover,
.navbar-main-theme .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}
@media (max-width: 767px) {
  .navbar-main-theme .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-main-theme .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-main-theme .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-main-theme .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-main-theme .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-main-theme .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-main-theme .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-main-theme .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-main-theme .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-main-theme .navbar-link {
  color: #FFFFFF;
}
.navbar-main-theme .navbar-link:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.nav > li > div > a {
  color: #002E5C;
  text-decoration: none;
}
.nav > li > div > a:hover,
.nav > li > div > a:focus {
  color: #002E5C;
}

#cssmenu > ul > li ul{
	border-top:4px solid #273b47;
	border-left:2px solid #273b47;
	border-right:2px solid #273b47;
	border-bottom:2px solid #273b47;
	/*660066*/
}

#cssmenu ul li ul li {
  background: #273b47;
}

#cssmenu ul li ul li.has-sub:before {
  border-left-color: #FF0000;
}

#cssmenu ul li ul li:hover
{
	background-color: #334d5c;/*subcategory hover background color*/
}

#cssmenu ul li ul li:hover:after,
#cssmenu ul li ul li.active:after {
  background: #FF0000;
}

#cssmenu > ul > li:after {
  background: #273b47;
}

#cssmenu > ul > li.has-sub > a:after {
 background: #660066;
}

#cssmenu > ul > li.has-sub > a:before {
 border-top-color: #FF0000;
}

.logo-background{
	background-color: #334d5c; 
	width: 100%;
	padding-top: 10px;
	margin-top:3px;
}

.navbar-background{
	background-color:#334d5c; 
	width: 100%;
	border-bottom:1px solid #334d5c;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color:#334d5c ;
}
.welcome-body-background{
	background-color: #334d5c;
}
.theme-box-background{
	background-color: #334d5c;
}

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #efc94c;
}

#cssmenu > ul > li > a {
  color: #efc94c;
}

#cssmenu ul li ul li:hover > a,
#cssmenu ul li ul li.active > a {
  color: #efc94c;
}

#cssmenu ul li ul li a {
  color: #efc94c;
}

.theme-box-background-text{
	color: #efc94c;
}
.dropdown-menu{
	background-color: #ffffff;
}

.dropdown-menu > li > a {
	color: #333333;
}

.dropdown-menu > li > a:hover,     /* controller text hover color*/
.dropdown-menu > li > a:focus {
  color: #FFFFFF;
}
